/* 最小化浏览器重置样式 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
}

#app {
  height: 100vh;
}
